#root {
    outline: none
}

.min-h-screen {
    outline: none
}

.bg-white {
    outline: none
}

.max-w-6xl {
    outline: none
}

.flex {
    outline: none
}

.text-2xl {
    outline: none
}

.flex {
    outline: none
}

.flex {
    outline: none
}

.flex {
    outline: none
}

.flex-grow {
    outline: none
}

.bg-gray-900 {
    outline: none
}

.max-w-6xl {
    outline: none
}

.grid {
    outline: none
}

.col-span-1 {
    outline: none
}

.text-2xl {
    outline: none;
  font-size: 33px;
  color: rgb(185, 110, 110);
  background-color: rgb(215, 96, 96);
  margin: 11px;
  padding: 33px
}

div {
    outline: none
}

.text-lg {
    outline: none
}

.space-y-2 {
    outline: none
}

li {
    outline: none
}

.text-gray-400 {
    outline: none
}

li {
    outline: none
}

.text-gray-400 {
    outline: none
}